{% extends "base.html" %} {% block content %}
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Simple Bills</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">{{ profile.nickname }}</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    {% include "sidebar.html" %}

    <div class="content col s9">

        <div class="row">
            <h4 class="headline-main col s8"> Account: <span id="account-name">{{account_name}}<span> </h4>
            <!-- <a class="waves-effect waves-light btn btn-billadd">Add a bill</a> -->
        </div>
        <div class="row">
            <div class="card col s6 offset-s3">
                <h4 class="headline-main col s12"> Create Bill </h4>
                <form action="/account/{{account_id}}/create_bill" method="post" enctype='multipart/form-data'>
                    <div>
                        <div class="row">
                            <span class="col s12">File: <input type="file" name="filename" /> </span>
                        </div>
                        <div class="row">
                            <span class="col s12">Desc: <input value="Description" name="bill_desc" /> </span>
                        </div>
                        <div class="row">
                            <span class="col s12">Amount: <input value="200" name="bill_amount" /> </span>
                        </div>
                        <div class="row">
                            <span class="col s5">Date: <input name="bill_date" type="date"></span>
                        </div>
                        <div class="row">
                          Tags: <br>
                          {% for tag in account_tags %}
                          <input type="checkbox" name="bill_tags" value="{{tag}}">{{tag}}
                          {% endfor %}
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Create</button>
                </form>
                </div>
            </div>
        </div>

        <div class="row">
          <form method="get">
            <span class="col s3">Start Date: <input name="search_start_date" type="date" value="{{search_start_date}}"></span>
            <span class="col s3">End Date: <input name="search_end_date" type="date" value="{{search_end_date}}"></span>
            <span class="col s3">Amount: <input name="search_amount" value="{{search_amount}}"></span>
            <button class="btn waves-effect waves-light" type="submit" name="action" >Search</button>
          </form>
        </div>

        <div class="row">
            <h4 class="headline-sub col s12"> {{bills.count}} Bills </h4> {% if bills.count > 0 %}
            <div class="billsgi-table col s12">
                <table class="bordered">
                    <thead>
                        <tr>
                            <th data-field="id">Desc</th>
                            <th data-field="name">Amount</th>
                            <th data-field="Date">Date</th>
                            <th data-field="tags">Tags</th>
                            <th data-field="Images">Images</th>
                            <th data-field="Actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bill in bills %}
                        <tr>
                            <td>{{bill.desc}}</td>
                            <td>{{bill.amount}}</td>
                            <td>{{bill.date}}</td>
                            <td>{{bill.tags}}</td>
                            <td>
                              {% for img_url in bill.img_urls %}
                                <a href="{{img_url.original}}"> Image </a>
                              {% endfor %}
                            </td>
                            <td><a href="/account/{{account_id}}/{{bill.billId}}/edit_bill">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}
