<div class="col s3 sidebar-left z-depth-2">
    <ul class="collection with-header">
        <li class="collection-header">
            <h5>ACCOUNTS</h5>
        </li>
        {% for account in accounts %}
        <li><a href="/account/{{ account.accountId }}" class="collection-item"> {{ account.name }}</a></li> {% endfor %}
        <li class="collection-item account-add">
            <div class="row">
                <form action="/create_account" method="post">
                    <div class="input-field col s9">
                        <input name="account_name" id="account_name" type="text" class="validate" placeholder="Add account">
                    </div>
                    <div class="col s3">
                        <button class="waves-effect waves-light btn" type="submit" name="action">Add</button>
                    </div>
                </form>
            </div>
        </li>
</div>
