.welcome-content {
    margin-top: 200px;
}

.welcome-content h3 {
    margin-bottom: 30px;
}

nav {
    background-color: white;
    position: fixed;
    z-index: 10;
}

.headline-main {
    font-size: 24px;
    font-weight: 400;
}

.headline-sub {
    font-size: 20px;
    font-weight: 600;
}

.nav-wrapper a, .nav-wrapper li {
    color: #333333;
}

.btn-billadd {
    margin-top: 13px;
}

.nav-wrapper a {
    margin-left: 30px;
}

.sidebar-left {
    position: fixed;
    margin-top: 64px;
    width: 25%;
    height: 100%;
    margin-bottom: -20px;
}

.content {
    margin-top: 64px !important;
    margin-left: 25% !important;
    width: auto;
    position: relative;
    overflow: auto;
    z-index: 1;
}

.collection-item {
    font-size: 18px;
    padding: 8px 16px;
}

.sidebar-left ul {
    border: none;
}

.account-add {
    padding-top: 0 !important;
    margin-top: 0;
}

.account-add .input-field {
    margin-top: 0;
    padding: 0;
}

.account-add button {
    padding: 0 0.8rem;
}

.active {
    background-color: red;
}


/*
.welcome-content a {
    background-color: #4285f4;
}*/

/ / / / /
