<html>

<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/js/pace.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/static/css/main.css" rel="stylesheet">


</head>

<body ng-app="SimpleBills">
    <div>
        {% block content %}{% endblock %}
    </div>


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="/static/js/form_validator.js"></script>
    <script src="/static/js/activity_chart.js"></script>
    <!--<script src="/static/js/html2canvas.js"></script>-->
    <script src="/static/js/feedback.js"></script>
    <script src="/static/js/app.js"></script>
    <link href="/static/css/feedback.css" rel="stylesheet">

    <script type="text/javascript">
        $.feedback({
            ajaxURL: '//feedback-dash.herokuapp.com/feedbacks',
            html2canvasURL: '/static/js/html2canvas.js'
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</body>

</html>
