<div class="create_account_modal row">
  <div id="create_account" class="modal">
    <form action="/create_account" method="post">
      <div class="modal-content">
        <h4> Create an Account </h4>
        <div class="input-field col s12">
          <input id="account_add" type="text" name="account_name">
          <label for="account_add">Account Name</label>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn " type="submit" name="action">Create</button>
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </div>
    </form>
  </div>
</div>
