{% extends "base.html" %}
{% block content %}

<div class="container" id="edit_page">
  <a href="/account/{{account_id}}">Back to Account</a>
  <div class="card row">
    <h4>Edit a Bill</h4>
    <div>
      <form action="/account/{{account_id}}/{{bill.billId}}/edit_bill" method="post" enctype='multipart/form-data'>
            <div class="input-field col s12">
              <input id="bill_title" type="text" value="{{bill.title}}" name="bill_desc">
              <label for="bill_title" class="active">Bill Title</label>
            </div>
            <div class="input-field col s6">
              <select id="bill_currency_code" name="bill_currency_code">
                {% for currency in supported_currencies %}
                  <option value={{currency}} {% if bill.currency_code == currency %} selected {%endif%}> {{currency}} </option>
                {% endfor %}
              </select>
              <label class="bill_currency_label" for="bill_currency_code">Currency</label>
            </div>
            <div class="input-field col s6">
              <input id="bill_amount" type="text" value="{{bill.amount}}" name="bill_amount">
              <label for="bill_amount" class="active">Bill Amount</label>
            </div>
            <div class="input-field col s6">
              <input id="bill_date" type="date" value="{{bill.date}}" name="bill_date">
              <label for="bill_date" class="active">Bill Date</label>
            </div>
            <div class="input-field col s6">
              {% for tag in account_tags %}
                <div class="bill_tag">
                  <input type="checkbox" id="tag_{{tag}}" name="bill_tags" value="{{tag}}" class="filled-in"  {% if tag in bill_tags %}checked{%endif%}/>
                  <label for="tag_{{tag}}">{{tag}}</label>
                </div>
              {% endfor %}
            </div>
            <div class="col s12 ">
              <button class="btn waves-effect waves-light right btn-update" type="submit" name="action">Update</button>
              <div class="clearfix"></div>
            </div>
            <hr />
      </form>
    </div>
    {% if bill.files %}
    <div class="uploaded_files">
      <h5 class="subheader"> Uploaded Files </h5>
      {% for file in bill.files%}
        <div class="col s4">
          <div class="file_img">
            <a href="{{file.signed_url}}" target="_blank">
                <div class="file_img">
                  {% if file.file_type == 'application/pdf' %}
                    <img class="file_pdf"  src="/static/images/pdf256.png"/>
                  {% elif file.file_type in ['image/png'] %}
                    <img src="{{file.thumbnail}}"/>
                  {% else %}
                    <img src="/static/images/file256.png"/>
                  {% endif %}
                </div>
            </a>
          </div>
          <span>{{file.filename}}</span>
          <a class="file_remove center" href="/account/{{account_id}}/{{bill.billId}}/{{file.billfileId}}/remove_file">Remove</a>
          </div>

      {% endfor %}
    </div>
    <hr />
    {% endif %}
    <div>
      <h5 class="subheader">Upload file</h5>
      <form action="/account/{{account_id}}/{{bill.billId}}/add_file" method="post" enctype='multipart/form-data'>
        <div class="col s12">
          <div class="row">
            <div class="file_input file-field input-field col s6">
                <div class="btn add_file_btn">
                  <i class="material-icons">add</i>
                  <input type="file" name="filename">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate col s12" type="text">
                </div>
              </div>
              <div class="col s4">
                  <button type="submit" class=" right waves-effect waves-light btn btn-submit" name="action">Upload File</button>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
