{% extends "base.html" %}{% block content %}
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">SimpleBills</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" class='dropdown-button' data-activates='dropdown-profile'>{{ profile.nickname }}  <i class="material-icons">arrow_drop_down</i></a></li>
        </ul>
        <ul id='dropdown-profile' class='dropdown-content'>
          <li><a href="#!">Log Out</a></li>
        </ul>
    </div>
</nav>
<div class="account_charts container">
  <div>
    <a class="modal-trigger  waves-teal btn-flat right btn-create_account" href="#create_account">Create an Account</a>
    <div class="clearfix"></div>
    {% include "create_account_modal.html" %}
  </div>


  <!-- Placeholder for Account activity -->
  {% if owner_accounts or editor_accounts %}
  <!-- List accounts with links -->
  <div id="account_both row">
      <ul class="collection with-header">
        <li class="collection-header "><h4 class="headline-sub">Your Accounts</h4></li>
       {% for account in owner_accounts %}
        <li class="collection-item"><a href="/account/{{account.accountId}}">{{account.name}}</a></li>
       {% endfor %}
     </ul>
      <ul class="collection with-header">
        <li class="collection-header"><h4 class="headline-sub">Shared Accounts</h4></li>
        {% if editor_accounts %}
           {% for account in editor_accounts %}
            <li class="collection-item"><a href="/account/{{account.accountId}}">{{account.name}}</a></li>
           {% endfor %}
        {% else %}
          <li class="collection-item"><a class="disabled">None</a></li>
        {% endif %}
     </ul>
  </div>
  <div>
    {% for account in accounts_activity.data %}
    <div class="row account_each card">
      <div class="col s4">
        <h4 class="headline_main">
          <a href="/account/{{account.accountId}}">{{account.name}}</a>
        </h4>
      </div>
      <div class="col s8">
        <div id="office_chart_{{account.accountId}}"></div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="account_each card">
    <h3 class="helper-info">Hello {{ profile.nickname }}, start adding bills by creating an account </h3>
  </div>
  {% endif %}
</div>

<script type="text/javascript">
$(function() {
  var accountsActivity = {{accounts_activity_json|safe}};

  google.charts.load('current', {packages: ['corechart', 'bar']});

  accountsActivity.data.forEach(function(account) {
    drawAccountActivityGraph(account);
  });

  function drawAccountActivityGraph(account) {
    var config = {
        seriesData: [],
        maxValue: account.activity.length + 5,
        accountActivity: account.activity,
        drawArea: document.getElementById("office_chart_" + account.accountId)
    };

    account.activity.forEach(function(activity) {
      config.seriesData.push([
          new Date(activity.date),
          parseInt(activity.num_bills)
      ])
    });

    google.charts.setOnLoadCallback(function(){ drawBasic(config); });
  }

  function drawBasic(config) {
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'X');
    data.addColumn('number', 'Bills');

    data.addRows(config.seriesData);

    var options = {
      hAxis: {
        format: 'MMM dd',
        minValue: moment().subtract(15, 'days').toDate(),
        gridlines: {
          color: 'transparent'
        }
      },
      vAxis: {
        title: 'No. of Bills',
        minValue: 0,
        maxValue: config.maxValue,
        format: '#',
        gridlines: {
          color: 'transparent'
        }
      },
      bar: {groupWidth: '5'},
      legend: {position: 'none'}
    };

    var chart = new google.visualization.ColumnChart(config.drawArea);

    chart.draw(data, options);
  }
});
</script>

{% endblock %}
